<!DOCTYPE html>
<html lang="uk">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Головна</title>
        <meta name="description" content="Опис сторінки">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <!-- Nav Bootstrap Begun -->
        
        <nav class="navbar navbar-expand-lg bg-body-tertiary">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link disabled" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                </div>
            </div>
        </nav>

        <!-- Nav Bootstrap End -->


        <h1>Всім привіт!</h1>
        <p>Тут ви можете записатись на прийом!</p>

        <form action='/' method='POST'>

            Ваше ім'я <br />
            <input type='text' name='user_name' /> <br />
            Ваш номер телефону: <br />
            <input type='text' name= 'phone' /> <br />
            Ваш email: <br />
            <input type='email' name='email'/> <br />
            Дата візиту: <br />
            <input type='text' name='date_time' /> <br />

            <input type='submit' /> <br />
        </form>

    </body>
</html>