<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна</title>
</head>

<body>
    <div>        
        <% if @error then%>
            <div class="alert alert-danger" role="alert"><%=@error%></div>
        <% end %>
        <%= yield %>
    </div>
</body>
</html>