<h1>Всім привіт!</h1>
<p>Тут ви можете записатись на прийом!</p>

<form action='/welcome' method='POST'>

    Ваше ім'я <br />
    <input type='text' name='user_name' /> <br />
    Ваш номер телефону: <br />
    <input type='text' name= 'phone' /> <br />
    Ваш email: <br />
    <input type='email' name='email'/> <br />
    Дата візиту: <br />
    <input type='text' name='date_time' /> <br />

    <input type='submit' /> <br />
</form>