<h1 class="text-center mt-2">Всім привіт!</h1>
<p class="text-center">Тут ви можете записатись на прийом!</p>

<form action='/welcome' method='POST' role='form'>

    <%# Ваше ім'я <br />
    <input type='text' name='user_name' /> <br />
    Ваш номер телефону: <br />
    <input type='text' name= 'phone' /> <br />
    Ваш email: <br />
    <input type='email' name='email'/> <br />
    Дата візиту: <br />
    <input type='text' name='date_time' /> <br />

    <input type='submit' /> <br /> %>
    <div class="container border rounded-4">
        <div class="container my-3 mx-2 pl-2">
            <div class="mb-3">
                <label for="name" class="form-label">Ваше ім'я:</label>
                <input type="text" class="form-control" name="user_name" placeholder="Введіть ваше ім'я">
            </div>
            <div class="mb-3">
                <label for="phone" class="form-label">Ваш номер телефону:</label>
                <input type="text" class="form-control" name="phone" placeholder="Введіть ваш номер телефону">
            </div>
                <div class="mb-3">
                <label for="phone" class="form-label">Ваш email:</label>
                <input type="text" class="form-control" name="email" placeholder="Введіть ваш email">
            </div>
            <div class="mb-3">
                <label for="datetime" class="form-label">Дата візиту:</label>
                <input type="date" class="form-control" id="dateInput" placeholder="Вкажіть бажану дату візиту">
            </div>
            <div class="mb-3">
                <label for="datetime" class="form-label">Прізвище фахівця:</label>
                <%# <input type="text" class="form-control" name="fio" placeholder="Виберіть прізвище фахівця"> %>

                <select class="form-select" name="fio" aria-label="Default select example">
                    <option selected>Виберіть прізвище фахівця</option>
                    <option value="Петренко">Петренко</option>
                    <option value="Іваненко">Іваненко</option>
                    <option value="Бугренко">Бугренко</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        
    </div>

</form>

